body {
  font-family: "Raleway", sans-serif;
}
.gza {

}
.table {
  width: 100%;
}
.schema-tables {
  list-style: none;
}
.pagination a {
  text-decoration: none;
}
.previous,
.page,
.next {
  display: inline-block;
}
.previous {
  margin-right: .25em;
}
.page,
.next {
  margin: 0 .25em;
}